/*HOME*/
/*HOME*/
/*HOME*/
/*HOME*/
/*HOME*/

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding-top: 15vh;
}

.home-content {
    position: relative;
    animation: fontEnlargment 1.5s ease forwards;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    animation: fadeInRight 1.5s ease forwards;
}

.home-content h1 {
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    animation: fadeInLeft 2.5s ease forwards;
}

.home-content p {
    line-height: 1.5em;
    margin-right: 15%;
    margin-top: 2rem;
}

.home-img img {
    height: auto;
    width: 30vw;
    border-radius: 50%;
    border: 5px solid rgba(0, 238, 255, 0.5);
    animation: boxShadowAnimation 1.8s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 2s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .3rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.85rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 0 0;
    opacity: 0%;
    animation: fadeInLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
    transition: background .3s ease, color .3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: scale(1.5);
}


.home .btn {
    margin-left: 17.5%;
    margin-top: 3em;
    transition: all .2s ease;
    animation: fadeInRight 1.5s ease forwards;
}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/



/*768px*/
/*768px*/
@media (max-width: 768px) {

    /*HOME*/
    /*HOME*/
    /*HOME*/


    .home {
        flex-direction: column-reverse;
        gap: 10vh;
        margin-top: 5vh;
    }

    .home-content h3 {
        font-size: 2.6rem;
        animation: none;
    }

    .home-content h1 {
        font-size: 5rem;
        animation: none;
    }

    .home-img img {
        width: 50vw;
        margin: 12vh 0 6vh 0;
        animation: boxShadowAnimationMobile 2s ease forwards, floatImageMobile 4s ease-in-out infinite;
        animation-delay: 1s, 2s;
    }

    .home-content p {
        margin-right: 15vw;
        margin-left: 15vw;
        font-size: 1.4rem;
        animation: none;
    }

    .social-media a {
        opacity: 1;
        animation: none;
    }

    .home .btn {
        margin-left: 0;
        animation: none;
    }

    /*ANIMATION 768px*/
    /*ANIMATION 768px*/
    /*ANIMATION 768px*/

    @keyframes floatImageMobile {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, .8rem);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes boxShadowAnimationMobile {
        0% {
            box-shadow: 0 0 0 0 transparent;
        }

        100% {
            box-shadow: 0 0 5rem 2rem var(--main-color);
        }
    }
}

@media (max-width: 650px) {
    .home-img img {
        width: 75vw;
    }
}