.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .input-box input {
    width: 49%;
}

/*RESPONSIVE*/

/*991px*/
@media (max-width: 991px) {
    .contact {
        min-height: auto;
    }
}



/* 450 */
@media (max-width: 768px) {

    .contact form {
        width: 90%;
    }
}

/* 450 */
@media (max-width: 450px) {
    .contact form .input-box input {
        width: 100%;
    }
}