.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5vh 10% 13vh;
}

.about-img img {
    width: 35vw;
    border-radius: 50%;
    margin: 10vh 0 10vh 0;
    max-width: 70rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.4rem;
    margin: 1.2rem 0 2rem;
}

.about .btn {
    margin-top: 1.1em;
}

/*RESPONSIVE*/

/*768px*/
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        gap: 0;
    }

    .about .heading {
        text-align: center;
        margin: 2rem;
    }

    .about h3 {
        text-align: center;
    }

    .about img {
        width: 70vw;
        margin: 0 0 10vh 0;
    }

    .about-content p {
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 2vw;
        text-align: center;
    }
}

/* 365 */
@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }
}