.services {
    background: linear-gradient(var(--second-bg-color), var(--bg-color), var(--bg-color), var(--bg-color), var(--bg-color), var(--bg-color));
    padding: 6vh 10% 20.2vh;
}

.services h2 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    border-radius: 4rem;
    transition: .5s ease;
}

.services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/

/*991px*/
/*991px*/
@media (max-width: 991px){
    .services{
        padding-bottom: 7rem;
    }
}



/*768px*/
/*768px*/
@media (max-width: 768px){
    .services h2{
        margin-bottom: 3rem;
    }
}