.cv-bullet-point {
    display: flex;
    font-size: 85%;
    color: var(--cv-light-text-color);
    line-height: 100%;
    margin-top: 4px;
    width: 100%;
}

.cv-course {
    font-size: 90%;
    margin-top: 15px;
    font-weight: 700;
}

.cv-course:last-child {
    margin: 15px 0;
}


.cv-point-svg {
    color: var(--cv-light-text-color);
}