.cv-skills-container {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    padding: 1rem .1rem 1rem .1rem;
    font-size: smaller;
    font-weight: 500;
    color: var(--cv-main-color);
    flex-direction: row;
}