.menu-icon {
    position: fixed;
    font-size: 3.5rem;
    color: var(--text-color);
    top: 2rem;
    z-index: 6;
    display: block;
    cursor: pointer;
}

.menu-icon-left {
    left: 2rem;
}

.menu-icon-rtl {
    right: 2rem;
}

.new-navbar {
    position: fixed;
    height: 100%;
    width: 9.9vw;
    display: flex;
    justify-content: center;
    z-index: 5;
    transition: .5s ease;
}

.new-navbar-left {
    left: -300px;
}

.new-navbar-right {
    right: -300px;
}

.new-nav-links-container {
    margin: 8rem 0 2rem 0;
    width: 100%;
    font-size: 1.5rem;
}

.new-navbar-link {
    display: block;
    margin-top: 3rem;
    color: var(--text-color);
    transition: .2s ease;
}

.new-navbar-link svg {
    padding: 0 2px;
}

.new-navbar-on-left {
    left: 0;
}

.new-navbar-on-right {
    right: 0;
}

.new-navbar-icons {
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
    transition: .2s ease;
}

.new-navbar-icons:hover,
.active {
    background: var(--bg-color);
    border-radius: 1.5rem;
}

.new-nav-language-bar-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

.new-nav-language-bar {
    animation: none;
}

@media (max-width: 1525px) {
    .new-navbar {
        width: 15vw;
    }
}

@media (max-width: 860px) {
    .new-navbar {
        width: 20vw;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        font-size: 4.5rem;
    }

    .new-navbar {
        width: 30vw;
        top: 0;
    }

    .new-nav-links-container {
        margin: 6rem 0 2rem 0;
        font-size: 1.2rem;
    }

    .new-navbar-link {
        margin-top: 2rem;
    }
}

@media (max-width: 606px) {
    .new-navbar {
        width: 40vw;
    }
}