.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    padding: 2rem 9%;
    position: relative;
}

.footer-dark {
    background: var(--bg-color);
}

.footer-light {
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.5rem;
    white-space: nowrap;
}

.footer-text span {
    transition: .2s ease;
}

.footer-text span:hover {
    text-shadow: 0 0 0;
}



/*RESPONSIVE*/


/*991px*/
@media (max-width: 991px) {
    .footer {
        padding: 2rem 3%;
    }
}

/*764px*/
@media (max-width: 764px) {
    .footer {
        padding: 2rem 3%;
        font-size: 10%;
    }

    .footer p {
        font-size: 1.2rem;
    }
}


@media (max-width: 533px) {
    .footer {
        flex-direction: column-reverse;
    }
}

/* 365 */
@media (max-width: 365px) {
    .footer p {
        text-align: center;
    }
}
