.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    position: relative;
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-text span {
    transition: .2s ease;
}

.footer-text span:hover {
    text-shadow: 0 0 0;
}



/*RESPONSIVE*/


/*991px*/
@media (max-width: 991px) {
    .footer {
        padding: 2rem 3%;
    }
}

/* 365 */
@media (max-width: 365px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
    }
}