.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-text span {
    transition: .2s ease;
}

.footer-text span:hover {
    text-shadow: 0 0 0;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 2rem var(--main-color);
}

.footer-iconTop a svg {
    font-size: 1.8rem;
    color: var(--second-bg-color);
}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/


/*991px*/
/*991px*/
@media (max-width: 991px) {
    .footer {
        padding: 2rem 3%;
        margin-top: 10vh;
    }
}

/*768px*/
/*768px*/
@media (max-width: 768px) {
    .footer {
        margin-top: 5vh;
    }
}

/* 365 */
/* 365 */
@media (max-width: 365px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}