.language{
    color: var(--text-color);
    position: relative;
    cursor: pointer;
    padding: .8rem;
}

.active-language-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.languages-bar{
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 100%;
    height: fit-content;
    border-radius: 1rem;
    z-index: 2;
    cursor: default;
    transform: scaleY(0);
    opacity: 0;
    transition: .5s ease;
    transform-origin: 0 100%;
}

.languages-bar button {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 1rem 2rem 2rem 2rem;
    background: transparent;
    cursor: pointer;
}

.show-language-bar {
    transform: scaleY(1);
    opacity: 1;
}

.language div span {
    color: var(--main-color);
    text-shadow: none;
    font-size: 1.4rem;
}

.language div svg {
    font-size: 2.2rem;
}

.languages-bar button:hover {
    color: var(--main-color);
}