.projects-section {
    padding-top: 10rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 5rem;
    padding: 2rem;
}

.projects-box {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 203px;
    background: var(--second-bg-color);
    transition: .8s ease;
    border: 3px solid var(--second-bg-color);
    overflow: hidden;
}

.projects-box:hover {
    border-color: var(--main-color);
    height: 460px;
}

.projects-image-container {
    width: 100%;
}

.projects-image-container img {
    height: 199px;
    width: 100%;
}

.projects-layer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1.5rem;
    transition: .5s ease;
}

.projects-layer h4 {
    font-size: 2rem;
}

.projects-layer p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.projects-links-container {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.projects-layer div a {
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .9rem;
    box-shadow: 0 0 15px var(--main-color);
}

.projects-layer div a svg {
    font-size: 1.8rem;
    margin-right: .4rem;
}

/*RESPONSIVE*/

/*991px*/
@media (max-width: 991px){
    .projects{
        padding-bottom: 7rem;
    }
}

@media (max-width: 903px) {
    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }

}


/*768px*/
@media (max-width: 768px){
    .projects {
        padding: 10.52vh 7% 20vh;
    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-layer h4{
        font-size: 1.2rem;
    }

    .projects-layer p{
        font-size: .9rem;
    }

    .projects-layer div a {
        font-weight: 500;
        font-size: .9rem;
        padding: .4rem;
        margin: 0 .5rem 0 .5rem;
    }
}

/*617px*/
@media (max-width: 617px){
    .projects{
    padding: 10.52vh 10%;
    }

    .projects-layer h4{
        font-size: 1.6rem;
    }

    .projects-layer p{
        font-size: 1.2rem;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }

    .projects-layer a svg{
        font-size: 1.9rem;
    }
}