.article-h1 {
    margin: 2rem 0;
    font-size: 1.15rem;
}

.article-h2 {
    margin: 2rem 0;
    font-size: 1.1rem;
}

.article-h3 {
    margin: 2rem 0;
    font-size: 1.21rem;
}

.article-h4 {
    margin: 2rem 0;
    font-size: 1.21rem;
}