.blog-post {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3rem auto;
    padding: 3rem 5rem 2rem 5rem;
    background-color: var(--second-bg-color);
    border-radius: 2rem;
    transition: .5s ease;
}

.blog-post-title {
    text-align: center;
    font-size: 3rem;
    cursor: default;
}

.blog-post-date {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
}

.blog-post-content-container {
    display: flex;
    gap: 5rem;
    height: 244px;
    font-size: 16px;
}

.blog-post img {
    width: 50%;
    border-radius: 2rem;
    height: 100%;
}

.blog-post-snippet {
    width: 50%;
    position: relative;
    line-height: 2rem;
    overflow: hidden;
}

.blog-post-three-dots {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 50%;
    color: var(--text-color);
}

.blog-post-three-dots-rtl {
    left: 0 !important;
    background: linear-gradient(to left, transparent, var(--second-bg-color) 42%);
}

.blog-post-three-dots-normal {
    right: 0 !important;
    background: linear-gradient(to right, transparent, var(--second-bg-color) 42%);
}

.blog-post-links-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 1rem 2rem;
}

.blog-post-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 1rem;

}

.blog-post-link:first-child {
    border-radius: 50%;
    font-size: 2rem;
    transition: .5s ease;
}

.blog-post-link:last-child {
    box-shadow: none;
    background: transparent;
}

.blog-post-link:hover {
    background: var(--main-quarter-opacity);
}

.blog-post:hover {
    box-shadow: 0 0 1rem 1px var(--main-color);
}

@media (max-width: 768px) {
    .blog-post-content-container {
        height: 380px;
    }

    .blog-post-title {
        font-size: 1.8rem;
    }

    .blog-post-date {
        font-size: 1.1rem;
    }

    .blog-post img {
        width: 90%;
        height: 61%;
    }

    .blog-post-snippet {
        width: 90%;
        height: 39%;
        font-size: 14px;
    }

    .blog-post-content-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 580px) {
    .blog-post {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 450px) {
    .blog-post {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .blog-post img {
        height: 42%;
    }

    .blog-post-snippet {
        width: 90%;
        height: 58%;
        font-size: 14px;
    }
}

@media (max-width: 295px) {
    .blog-post-content-container {
        height: 265px;
    }

    .blog-post img {
        height: 50%;
    }

    .blog-post-snippet {
        width: 90%;
        height: 50%;
        font-size: 14px;
    }

    .blog-post-snippet {
        font-size: 10px;
    }
}