@import url("../../assets/fonts/poppins/fonts.css");

.cv {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.cv-app {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--cv-text-color);
    width: 840px;
    height: 1188.5px;
    background: white;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    animation: cvTransformScale 1s ease, cvBoxShadow 2s ease forwards;
    font-size: initial !important;
    transform-origin: 100% 0;
}

.cv-page {
    width: 793px;
    height: 1122px;
}

@keyframes cvTransformScale {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes cvBoxShadow {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: 0 0 40px 3px var(--main-color);
    }
}