.cv {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.cv-app {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--cv-text-color);
    width: 840px;
    height: 1188.5px;
    background: white;
    border-radius: 2rem;
    animation: cvBoxShadow 2s ease forwards;
    font-size: initial !important;
}

.cv-page {
    width: 793px;
    height: 1122px;
}

@keyframes cvBoxShadow {
    0% {
        box-shadow: 0 0 0 0 transparent;
        opacity: 0;
    }

    100% {
        box-shadow: 0 0 20px 1px var(--main-color);
        opacity: 1;
    }
}