/* GENERAL STYLES */
/* GENERAL STYLES */
/* GENERAL STYLES */
@import url("assets/fonts/montserrat/fonts.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

svg {
    width: unset;
    height: unset;
}

:root {
    /* MAIN */
    --bg-color: #18191a;
    --second-bg-color: #242526;
    --text-color: #fff;
    --main-color: #0ef;
    --main-half-opacity: rgba(0, 238, 255, 0.6);
    --main-quarter-opacity: hsla(184, 100%, 50%, 0.250);
    --bg-half-opacity: rgba(24, 25, 26, 0.6);
    --on-top-items: #4e4f5098;

    /* CV */
    --cv-text-color: #2a363b;
    --cv-light-text-color: #2a363bd7;
    --cv-main-color: #1a46a0;
    --cv-company-color: #548dff;
    --cv-separator-color: #2a363b2f;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    scroll-behavior: smooth;
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

#root {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    max-width: 204rem;
    margin: 0 auto;
}

section {
    padding: 9vh 10% 9vh;
    position: relative;
}

.home-section:nth-of-type(even) {
    background: var(--second-bg-color);
}

.home-section:nth-of-type(even)::before {
    position: absolute;
    content: "";
    height: 12%;
    width: 100%;
    top: -5%;
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
    z-index: 0;
    left: 0;
}

.home-section:nth-of-type(odd)::before {
    position: absolute;
    content: "";
    height: 12%;
    width: 100%;
    top: -5%;
    background: linear-gradient(var(--second-bg-color), var(--bg-color));
    z-index: 0;
    left: 0;
}

/* RIGHT TO LEFT */

.rtl {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.onlytext-rtl {
    text-align: right;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.heading span, .home span, .footer span {
    color: var(--main-color);
    text-shadow: 0 0 1.7rem var(--main-color);
}

/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.on-top-items {
    background: var(--on-top-items);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 1rem .3rem var(--on-top-items);
    border: 1px solid var(--on-top-items);
}

::selection {
    background-color: transparent;
    color: #fe428e;
    text-shadow: 0 0 2.5rem rgb(169, 88, 176);
}

/* CV */
/* CV */
/* CV */
.cv-content-box {
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-bottom: 2px dashed var(--cv-separator-color);
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.cv-content-box:last-child {
    border: none;
}

.cv-container svg,
.cv-header svg {
    color: var(--cv-main-color);
}


/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/

@keyframes floatImage {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(.8rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInLeftRTL {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: 0 0 20rem 16rem var(--main-color);
    }
}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/

/*1200px*/
/*1200px*/
@media (max-width: 1200px) {
    html {
        font-size: 63%;
    }
}

/*768px*/
/*768px*/
@media (max-width: 768px) {
    * {
        text-align: center;
    }

    html {
        font-size: 75%;
    }

    section {
        padding: 0 2% 15vh;
        height: fit-content !important;
    }

    .heading {
        padding: 1.1rem;
        font-size: 3.5rem;
    }
}

/* 450 */
/* 450 */
@media (max-width: 450px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 295px) {
    html {
        font-size: 40%;
    }
}