/* GENERAL STYLES */
/* GENERAL STYLES */
/* GENERAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 3vh 10% 15vh;
}

span {
    color: var(--main-color);
    text-shadow: 0 0 1.7rem var(--main-color);
}

/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover {
    box-shadow: none;
}

::selection {
    background-color: transparent;
    color: rgb(169, 88, 176);
    text-shadow: 0 0 2.5rem rgb(169, 88, 176);
}

/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/

@keyframes floatImage {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(.8rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: 0 0 8rem 4rem var(--main-color);
    }
}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/

/*1200px*/
/*1200px*/
@media (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

/*768px*/
/*768px*/
@media (max-width: 768px) {
    * {
        text-align: center;
    }

    html {
        font-size: 85%;
    }

    section {
        padding: 0 2% 15vh;
        height: fit-content !important;
    }

    .services .heading{
        margin-top: 0;
    }

    .heading {
        padding: 1.1em;
    }
}

/* 450 */
/* 450 */
@media (max-width: 450px) {
    html {
        font-size: 65%;
    }
}