/* GENERAL STYLES */
/* GENERAL STYLES */
/* GENERAL STYLES */
@import url("assets/fonts/fonts.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

svg{
    width: unset;
    height: unset;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #303743;
    --text-color: #fff;
    --main-color: #0ef;
    --main-half-opacity: rgba(0, 238, 255, 0.6);
    --bg-half-opacity: rgb(31, 36, 45, 0.6);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    scroll-behavior: smooth;
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

#root {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    max-width: 204rem;
    margin: 0 auto;
}

section {
    padding: 9vh 10% 9vh;
    position: relative;
}

section:nth-of-type(even){
    background: var(--second-bg-color);
}

section:nth-of-type(even)::before{
    position: absolute;
    content: "";
    height: 12%;
    width: 100%;
    top: -5%;
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
    z-index: 0;
    left: 0;
}

section:nth-of-type(odd)::before {
    position: absolute;
    content: "";
    height: 12%;
    width: 100%;
    top: -5%;
    background: linear-gradient(var(--second-bg-color), var(--bg-color));
    z-index: 0;
    left: 0;
}

/* RIGHT TO LEFT */

.rtl {
    flex-direction: row-reverse;
    text-align: right;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

span {
    color: var(--main-color);
    text-shadow: 0 0 1.7rem var(--main-color);
}

/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover {
    box-shadow: none;
}

.on-top-items {
        background: #49526480;
        backdrop-filter: blur(6px);
        box-shadow: 0 0 1rem .3rem #32394680;
        border: 1px solid #49526480;
}

::selection {
    background-color: transparent;
    color: #fe428e;
    text-shadow: 0 0 2.5rem rgb(169, 88, 176);
}

/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/

@keyframes floatImage {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(.8rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: 0 0 8rem 4rem var(--main-color);
    }
}

/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/

/*1200px*/
/*1200px*/
@media (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

/*768px*/
/*768px*/
@media (max-width: 768px) {
    * {
        text-align: center;
    }

    html {
        font-size: 85%;
    }

    section {
        padding: 0 2% 15vh;
        height: fit-content !important;
    }

    .services .heading{
        margin-top: 0;
    }

    .heading {
        padding: 1.1rem;
    }
}

/* 450 */
/* 450 */
@media (max-width: 450px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 295px) {
    html {
        font-size: 40%;
    }
}