.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
}

.skills h2 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.technologies-experience-container{
    display: flex;
    gap: 10rem;
}

.technologies span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: var(--second-bg-color);
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}

.experience-box{
    background: var(--second-bg-color);
    border-radius: 1.5rem;
}

.experience-box h3{
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.experience-box p{
    font-size: 1rem;
    padding: 2rem;
}


