.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 10% 13vh;
}

.skills h2 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.technologies-experience-container {
    display: flex;
    gap: 15rem;
    justify-content: center;
    align-items: center;
}

.technologies {
    width: 30%;
}

.technologies span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    transition: .5s ease;
    border: 2px solid transparent;
    color: #aab2bd;
}

.small-icons {
    font-size: 3.5rem;
}

.small-icons:nth-last-of-type(1) {
    color: #38bdf8;
}

.experience-box {
    display: flex;
    gap: 2rem;
    border: 2px solid transparent;
    background: var(--second-bg-color);
    border-radius: 1.5rem;
    transition: .5s ease;
    margin: 1rem;
    width: 95%;
    position: relative;
    padding: 1.7rem;
    min-width: 30rem;
    max-width: 45rem;
}

.experience-year {
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}

.experience-box h3 {
    font-size: 2.1rem;
    padding: 1rem 0 1rem 0;
}

.experience-box h5 {
    font-size: 1.05rem;
}

.experience-box-content p {
    font-size: 1.1rem;
    padding: 2rem 0 1rem 0;
}

.experience-box:hover {
    transform: scale(1.03);
    border-color: var(--main-color);
}

.technologies span:hover {
    transform: scale(1.09);
    border-color: var(--main-color);
}

/* RESPONSIVE */

@media (max-width: 960px) {
    .technologies{
        width: 40%;
    }
}

@media (max-width: 900px) {
    .technologies{
        width: 60%;
    }
    .technologies-experience-container {
        flex-direction: column-reverse;
        gap: 8rem;
    }
}

@media (max-width: 760px) {
    .technologies{
        width: 80%;
    }
}

@media (max-width: 511px) {
    .technologies{
        width: 100%;
    }
}