*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color)
}

/*header*/
/*header*/
/*header*/

.header{
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1;
}

/*navbar*/
/*navbar*/
/*navbar*/

.navbar{
    display: flex;
    justify-content: center;
    width: 42%;
    min-width: 600px;
    margin: 1.5% 0 1.5% 0;
    padding: .8% 0 .8% 0;
    border-radius: 20px;
    background-color: transparent;
}

.navbar-links{
    margin:0 1% 0 1%;
    font-weight: 700;
    transition: .5s;
    padding: 1.5% 3.5% 1.5% 3.5%;
    color: var(--text-color);
    border-radius: 20px;
    text-shadow: 0 0 1.5rem var(--main-color);
}

/*animating the navbar elements*/

.navbar-links:nth-of-type(1){
    animation: fadeInRight 1.5s ease forwards;
}
.navbar-links:nth-of-type(2){
    animation: fadeInRight 1.5s ease forwards;
}
.navbar-links:nth-of-type(3){
    animation: zoomIn 1.5s ease forwards;
}
.navbar-links:nth-of-type(4){
    animation: fadeInLeft 1.5s ease forwards;
}
.navbar-links:nth-of-type(5){
    animation: fadeInLeft 1.5s ease forwards;
}
/*end*/

.navbar-links:hover, .navbar-links.active{
    color: var(--main-color);
}

/*home*/
/*home*/
/*home*/

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    position: relative;
    animation: fontEnlargment 1.5s ease forwards;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    animation: fadeInRight 1.5s ease forwards; 
}

span{
    color: var(--main-color);
    text-shadow: 0 0 1.7rem var(--main-color);
}

.home-content h1{
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    animation: fadeInLeft 2.5s ease forwards;
}

.home-content p{
    line-height: 1.5em;
    margin-right: 10%;
    margin-top: 2rem;
}

.home-img img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 8rem 4rem var(--main-color);
    border: 5px solid rgba(0, 238, 255, 0.5);
    animation: fadeInLeft 2.5s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 4.5s;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .3rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    opacity: 0%;
    animation: fadeInLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
    transition: background .3s ease, color .3s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    position: absolute;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all .2s ease;
    animation: fadeInRight 1.5s ease forwards;
    left: 21%;
}

.btn:hover{
    box-shadow: none;
}
::selection{
    background-color: transparent;
    color: rgb(169, 88, 176);
    text-shadow: 0 0 2.5rem rgb(169, 88, 176);
}

/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/
/*KEYFRRAMES ANIMATIONS*/

@keyframes floatImage{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-10px, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes zoomIn{
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInLeft{
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight{
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}