.article-list-container {
    font-size: 1.4rem;
    padding: 1.5rem 7% 0 7%;
    list-style-position: inside;
}

.article-list-container li {
    padding: 0.4rem;
}

.article-list-extra-padding-container {
    font-size: 1.4rem;
    padding: 1.5rem 12% 0 12%;
    list-style-position: inside;
}

.article-list-extra-padding-container li {
    padding: 0.4rem;
}

@media (max-width: 768px) {
    .article-list-container li {
        text-align: left;
    }

    .article-list-extra-padding-container li {
        text-align: left;
    }
}